.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
    /* everything that pass in the horizantal margin, will be cut */
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--list {
    width: 99999999px;
}

.movieRow--item {
    /* one item next to the other */
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    /* decrease to be 90% */
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow--item img:hover {
    /* back to be 100% when you pass the mouse over the img */
    transform: scale(1);
}